/* MEDIA QUERIES */

/* 848px */
@media (max-width: 53em) {
  .btn {
    font-size: 1.8rem;
    font-weight: 600;
    width: 16rem;
    height: 6rem;
    padding: 1rem;
  }

  .bills-interface {
    margin: 15rem auto 0 auto;
  }

  .bills-title {
    line-height: 1;
  }

  .bills-title span {
    display: block;
    text-align: center;
  }

  .bills-data-box input {
    font-size: 1.6rem;
    height: 3rem;
  }

  .bills-result-on .bills-interface {
    margin: 5rem auto 0 auto;
  }

  .bills-result-on .bills-result-box {
    margin: 5rem auto 4rem auto;
    height: 20rem;
    width: 45rem;
  }
}

/* 672px */
@media (max-width: 42em) {
  .bills-interface {
    margin: 10rem auto 0 auto;
  }

  .bills-title {
    font-size: 10rem;
  }

  .bills-data-box {
    flex-direction: column;
  }

  .bills-result-on .bills-result-box {
    margin: 4rem auto 4rem auto;
    width: 38rem;
  }
}

/* 496px */
@media (max-width: 31em) {
  html {
    font-size: 50%;
  }
}

/* 368px */
@media (max-width: 23em) {
  html {
    font-size: 45%;
  }
}
