* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica", sans-serif;
  background-color: #232629;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Image and title*/
.image-title {
  flex-direction: column;
}

img {
  width: 12rem;
}

h1 {
  font-size: 7.6rem;
}

/*Bill Description and Bill Value fields*/
.description-value {
  font-size: 1rem;
  font-weight: bold;
  gap: 1.2rem;
}

input {
  padding: 1px 2px;
}

/*Register and Start Over buttons*/
.register-start {
  gap: 1.2rem;
}

button {
  font-size: 17px;
  font-family: Arial;
  width: 141px;
  height: 40px;
  border-width: 1px;
  color: #ffffff;
  border-color: #124d77;
  font-weight: bold;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  text-shadow: inset 0px 1px 0px #154682;
  background: linear-gradient(#007dc1, #0061a7);
}

button:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}

/*Results*/
.results {
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/*Media queries*/
@media (max-width: 760px) {
  body {
    height: 90vh;
  }

  section {
    flex-direction: column;
  }

  img {
    width: 10rem;
  }

  h1 {
    font-size: 3.7rem;
  }

  .description-value {
    align-items: start;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
  }
}
