* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #fff;
  background-color: #222;
  font-family: "Helvetica", sans-serif;
}

/* REFACTORED */

.bills-title,
.bills-data-box {
  margin-bottom: 3rem;
}

/* BUTTONS */

.btn {
  color: inherit;
  background-color: #0b60b0;
  font-size: 1.7rem;
  font-weight: 600;
  width: 15rem;
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #2370b8;
}

.btn:active {
  background-color: #094d8d;
}

/* MAIN CONTENT */

.bills-info {
  margin: 21rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bills-calendar {
  width: 19.2rem;
}

.bills-title {
  font-size: 12.2rem;
}

.bills-data-box {
  display: flex;
  gap: 2rem;
}

.bills-data-box label {
  font-size: 1.6rem;
  font-weight: 600;
}

.bills-data-box input {
  color: black;
  border: none;
  border-radius: 0.5rem;
  height: 2.4rem;
  padding: 0 0.6rem;
}

.bills-buttons-box {
  display: flex;
  gap: 1.6rem;
}

.bills-result-on .bills-info {
  margin: 11rem auto 0 auto;
}

.bills-result-on .bills-result-box {
  margin: 5rem auto 0 auto;
  height: 20rem;
  width: 50rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  overflow-y: auto;
}

.bills-result-box {
  display: flex;
  flex-direction: column;
}

.bills-result {
  color: black;
  font-size: 2rem;
}
