/*Flex Container*/
.container {
  color: #f0f1ec;
  font-family: Helvetica, sans-serif;
  background-color: #232629;
  margin: 0;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Image and Title*/
img {
  width: 12rem;
  margin-bottom: 20px;
}

h1 {
  font-size: 120px;
  margin: 0;
  margin-bottom: 20px;
}

/*Grid Container*/
.sub-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.sub-item {
  font-weight: bold;
}

/*Register Bill*/
.register {
  margin-top: 20px;
  margin-bottom: 20px;
  grid-column: span 2;
}

.register-button {
  font-size: 17px;
  font-family: Arial;
  width: 141px;
  height: 40px;
  border-width: 1px;
  color: #ffffff;
  border-color: #124d77;
  font-weight: bold;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  text-shadow: inset 0px 1px 0px #154682;
  background: linear-gradient(#007dc1, #0061a7);
}

.register-button:hover {
  background: linear-gradient(#0061a7, #007dc1);
}

/*The Result*/
pre {
  text-align: center;
  font-size: 20px;
  margin-bottom: 0;
}

/*Media Queries*/
@media (max-width: 850px) {
  body {
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }
}
